<a href="https://colab.research.google.com/github/zikrimuhammad09/finalTesMSIBDibimbing/blob/main/Tugas_Tes_Akhir_MSIB_Dibimbing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nama: Zikri Muhammad Madani**

**Kelompok: 8**

## Import Library

In [33]:
import pandas as pd
import requests
import re

## Web Scrapping

In [52]:
url = 'https://berita-indo-api-next.vercel.app/api/cnn-news/teknologi'
df = []
# Send request API
response = requests.get(url)
# Parse the JSON response
json_data = response.json()
data = json_data['data']
for i in data:
  news = {
      'creator': 'cnnindonesiTEKNOLOGI',
      'title': i['title'],
      'link': i['link'],
      'isoDate': i['isoDate'],
      'description': i['contentSnippet'],
      'image': i['image']
  }
  df.append(news)
news_df = pd.DataFrame(df)
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   creator      100 non-null    object
 1   title        100 non-null    object
 2   link         100 non-null    object
 3   isoDate      100 non-null    object
 4   description  100 non-null    object
 5   image        100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

In [53]:
# Ubah isoDate menjadi tipe datetime
news_df['isoDate'] = pd.to_datetime(news_df['isoDate'])
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   creator      100 non-null    object
 1   title        100 non-null    object
 2   link         100 non-null    object
 3   isoDate      100 non-null    datetime64[ns, UTC]
 4   description  100 non-null    object
 5   image        100 non-null    object
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 4.8+ KB

In [54]:
# Agregasi data berdasarkan berita terbanyak dari creator
top_creator_news = news_df['title'].groupby(news_df['creator']).count().reset_index()
top_creator_news.columns = ['creator','total']
top_creator_news = top_creator_news.sort_values(by='total', ascending= False)
top_creator_news.head()

                creator  total
0  cnnindonesiTEKNOLOGI    100